<template>
    <footer class="footer page-footer">
        <div class="container">
            <nav class="pull-right">
                <ul>
                    <li><a href="https://twitter.com/boydbueno" target="_blank" rel="noopener"><img :src="require('../../images/twitter.png')" alt="Twitter"></a></li>
                    <li><a href="https://github.com/boydbueno" target="_blank" rel="noopener"><img :src="require('../../images/github.png')" alt="Github"></a></li>
                    <li><a href="https://www.linkedin.com/in/boydbuenodemesquita" target="_blank" rel="noopener"><img :src="require('../../images/linkedin.png')" alt="Linkedin"></a></li>
                    <!--<li><a href="https://codepen.io/boydbueno" target="_blank"><img src="images/codepen.png" alt="Codepen"></a></li>-->
                </ul>
            </nav>
        </div>
    </footer>
</template>
<style lang="scss" scoped>
    @import "../../sass/_variables.scss";

    .page-footer {
        background-color: $black;

        nav {
            text-align: right;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            display: inline-block;
        }

        a {
            margin-right: 6px;
        }

        img {
            height: 40px;
        }
    }
</style>
<script>
</script>
