<template>
    <header>
        <div class="container">
            <h1>Boyd Bueno de Mesquita</h1>
            <a href="mailto:boydbuenodemesquita@gmail.com" target="_blank" rel="noopener">boydbuenodemesquita@gmail.com</a>
        </div>
    </header>
</template>
<style lang="scss" scoped>
    @import "../../sass/_variables.scss";
    @import "../../sass/_breakpoints.scss";

    header {
        padding-top: 10px;
        height: 160px;
        text-align: center;

        h1, a, a:hover {
            color: $white;
        }

        h1 {
            font-size: $size-1;
        }

        a {
            font-size: 18px;
            padding-left: 5px;
        }
    }

    @include mobile {
        header {
            height: auto;
            padding-top: 3px;
            text-align: center;

            h1, a, a:hover {
                color: $white;
            }

            h1 {
                font-size: 32px;
            }

            a {
                font-size: 14px;
                padding-left: 5px;
            }
        }
    }


</style>
