<template>
    <div class="wrapper">
        <div class="image-slider">
            <bb-picture v-if="visible" :image="image" v-on:doneLoading="hidePlaceholder"></bb-picture>
        </div>
        <img class="placeholder" :class="{ hidden: isDoneLoading }" :src="image.placeholder" :alt="image.alt">
    </div>
</template>
<style lang="scss" scoped>
    @import "../../sass/_variables.scss";
    @import "../../sass/_breakpoints.scss";

    .wrapper {
        position: relative;
    }

    .image-slider {
        position: absolute;
        width: 100%;

        overflow: hidden;
        min-height: 1px; /* IE11 fix */
    }

    .placeholder {
        width: 100%;
        filter: blur(5px);

        &.hidden {
            opacity: 0;
        }

        transition: opacity 0.2s;
    }
</style>
<script>
    export default {
        props: ['image', 'visible'],
        components: {
            'bb-picture': require('Components/Picture.vue'),
        },
        data() {
            return {
                isDoneLoading: false
            }
        },
        methods: {
            hidePlaceholder: function() {
                console.log("Hiding placeholder");
                this.isDoneLoading = true;
            }
        }
    }
</script>
