<template>
    <ul class="tags">
        <bb-label v-for="(label, index) in labels" :key="index" :label="label">@{{ label.label }}</bb-label>
    </ul>
</template>
<style lang="scss" scoped>
    .tags {
        padding: 0;
    }
</style>
<script>
    export default {
        props: ['labels'],
        components: {
            'bb-label': require('Components/Label.vue'),
        }
    }
</script>
