<template>
    <li class="tag" :class="label.category.toLowerCase()">{{ label.label }}</li>
</template>
<style lang="scss" scoped>
    @import "../../sass/_variables.scss";

    .tag {
        margin: 5px 5px 5px 0;
        color: $white;

        &.engine {
            background-color: #357635;
        }

        &.role {
            background-color: #1b6d85;
        }

        &.platform {
            background-color: #725f21;
        }

        &.etc {
            background-color: #985f0d;
        }
    }
</style>
<script>
    export default {
        props: ['label'],
    }
</script>
