<template>
    <picture>
        <source :srcset="image.webp" type="image/webp">
        <source :srcset="image.fallback" type="image/jpg">
        <img ref="image" :src="image.fallback" :alt="image.alt">
    </picture>
</template>
<style></style>
<script>
    export default {
        props: ['image'],
        mounted() {
            this.$refs.image.addEventListener("load", () => {
                this.$emit('doneLoading')
            });
        },
    }
</script>
