<template>
    <div class="projects">
        <section v-for="projectYear in projectsGroupedByYear">
            <h1 class="content year">{{ projectYear.year }}</h1>
            <bb-project v-for="(project, index) in projectYear.projects" :key="index" :project="project"></bb-project>
        </section>
    </div>
</template>
<style lang="scss" scoped>
    @import "../../sass/_variables.scss";

    .projects {
        .year {
            text-align: center;
            font-size: $size-2;
            color: $white;
            margin-bottom: $size-7;
            line-height: 5rem;
        }
    }
</style>
<script>
    export default {
        props: ['projectsGroupedByYear'],
        data() {
            return {}
        },
        components: {
            'bb-project': require('Components/Project.vue'),
        }
    }
</script>
