<template>
    <div class="project columns">
        <div class="column left">
            <bb-image :visible="visible" :image="project.image"></bb-image>
            <bb-labels :labels="project.labels"></bb-labels>
            <div class="details" v-if="project.duration && project.teamSize">
                <span class="detail" v-if="project.duration">
                    <span class="icon is-small"><i class="fa fa-clock-o"></i></span>
                    Project Duration: {{ project.duration }}
                </span>
                <span class="detail" v-if="project.teamSize">
                    <span class="icon is-small"><i class="fa fa-users"></i></span> Team Size: {{ project.teamSize }}
                </span>
            </div>
        </div>
        <div class="column right">
            <div class="text">
                <h1 class="title">{{ project.title }}</h1>
                <div v-html="project.description"></div>
                <div class="details" v-if="project.accomplishments"><i class="fa fa-check"></i> Accomplishments
                    <ul>
                        <li v-for="accomplishment in project.accomplishments">{{ accomplishment }}</li>
                    </ul>
                </div>
            </div>
            <footer>
                <a v-if="project.download" :href="project.download.link" target="_blank" rel="noopener" class="download" :class="project.download.platform.toLowerCase()">
                    {{ project.download.platform == "browser" ? "Play" : "Download on " + project.download.platform }}
                </a>
                <a v-if="project.source" :href="project.source.link" target="_blank" rel="noopener" class="source" :class="project.source.platform.toLowerCase()">
                    Download source on {{ project.source.platform }}
                </a>
            </footer>
        </div>
    </div>
</template>
<style lang="scss" scoped>
    @import "../../sass/_variables.scss";
    @import "../../sass/_breakpoints.scss";

    .project {
        margin-bottom: 50px;
        background-color: lighten($black, 15%);

        &:last-child {
            margin-bottom: 0;
        }

        .left {
            margin: 20px 10px 20px 20px;
            display: flex;
            flex-direction: column;

            @include mobile {
                margin-right: 20px;
            }
        }

        .right {
            margin: 20px 20px 0 10px;
            display: flex;
            flex-direction: column;

            .text {
                flex: 1;
            }

            @include mobile {
                margin-left: 20px;
            }
        }

        footer {
            margin-top: 10px;
        }

        .date {
            margin: 7px 0 7px 2px;
            font-size: 12px;
        }

        .title {
            margin-top: 0;
            margin-bottom: 17px;
            font-size: 22px;
            color: $white;
        }

        a, a:hover {
            display: inline-block;
            margin: 2px 0;
            border: 1px solid $white;
            padding: 5px;
            font-size: 14px;
            line-height: 18px;
            color: $white;
        }

        a:hover {
            background-color: rgba(255, 255, 255, 0.15);
        }

        .details {
            margin-top: 10px;
        }

        .detail {
            display: block;
        }

    }
</style>
<script>
    export default {
        props: ['project'],
        data() {
            return {
                visible: false,
                io: null
            }
        },
        created() {
            this.io = new IntersectionObserver(
                entries => {
                    if (entries[0].isIntersecting === true) {
                        this.visible = true;
                    }
                },
                {
                    /* Using default options. Details below */
                }
            );
        },
        mounted() {
            this.io.observe(this.$el);
        },
        components: {
            'bb-labels': require('Components/Labels.vue'),
            'bb-image': require('Components/Image.vue'),
        }
    }
</script>
