// Variables
@import "variables";

// font-awesome
$fa-font-path: '~font-awesome/fonts'; // this would normally go in a settings/variables file
@import "~font-awesome/scss/font-awesome.scss";

// Bulma
@import "node_modules/bulma/bulma";

// Overwrite some bulma defaults
$size-6: 0.9rem;

@media screen and (min-width: 1384px) {
  .container {
    max-width: 1152px;
    width: 1152px;
  }
}

main {
  display: block;
}

[v-cloak] {
  display: none;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: $black;
  min-width: 300px;
  color: $white;
  font-size: $size-6;
}

p {
  margin: 0 0 11px;
}

ul {
  list-style: disc;
  padding-left: 40px;
}

// Logo for landing page
.autorijschool-orlando-block {
  background-color: #07498C;
}

.logo {
  display: inline-block;
  margin: 7px;
  padding: 0;
  color: white;
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;

  .prefix {
    margin-left: 3px;
    display: block;
  }

  .orlando {
    font-size: 50px;
    line-height: 45px;
    font-weight: 700;
  }
}
